:host {
    display: block;
    padding: 20px;
    height: 85vh;
    overflow-y: scroll;
}

:host .button-row {
    position: sticky;
    bottom: 20px;
}

:host .avaliable-toggler {
  display: block;
  margin-bottom: 20px;
}
