:host {
    display: block;
    margin-bottom: 20px;
}

:host img {
    width: 100px;
}

:host .food-img {
    min-width: 80px;
    max-width: 80px;
}

:host .food-img img {
    width: 100%;
    margin-left: auto;
}

:host .card-container {
    display: flex;
    justify-content: space-between;
}

:host .card-taken-info {
    margin-left: auto;
    justify-content: flex-end;
}

:host .card-taken-text {
    order: 1;
    color: gray;
}


:host .card-taken-image {
    order: 3;
}

:host .card-header-text {
    display: flex;
    align-items: flex-start;
    order: 2;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

:host .mat-card-header-text > * {
    margin: 0;
}
