<mat-card class="example-card">
  <mat-card-header align="end">
    <div mat-card-avatar class="example-header-image" [ngStyle]="avatarStyle"></div>
    <mat-card-title>{{ food.owner.name }}</mat-card-title>
    <mat-card-subtitle>{{ food.createdAt | date:'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-container">
        <p>
            {{ food.details }} 9399493939393
          </p>
    <ng-container [ngSwitch]="food.type">
      <div class="food-img">
        <img mat-card-image *ngSwitchCase="'FITLAB'" src="http://fitlabcatering.pl/img/logo.png" alt="FitLab">
        <img mat-card-image *ngSwitchCase="'LUNCHING'" src="https://lunching.pl/_/img/homepage/wyroznia_lunching.png" alt="Lunching">
      </div>
    </ng-container>


   
  </div>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="!food.isTaken">
    <button mat-raised-button color="primary" (click)="take()">TAKE</button>
  </mat-card-actions>
</mat-card>
