:host {
  display: block;
  width: 100%;
  background-color: #3F51B5;
  height: 10vh;
}


:host .container {
  display: flex;
  justify-content: space-between;
}

:host .sidebarToggler {
  opacity: 1;
  transition: opacity 0.3s;
}

:host-context(.open) .sidebarToggler {
  opacity: 0;
  pointer-events: none;
}

:host .user-info {
  display: flex;
  align-items: center;
  height: 10vh;
}

:host .user-photo{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  margin-right: 1vw;
}

