:host {
  display: block;
  width: 100%;
  background-color: #3F51B5;
  height: 10vh;
  color: white;
}


:host .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

:host .sidebarToggler {
  opacity: 1;
  transition: opacity 0.3s;
  background: transparent;
  width: 50px;
  height: 50px;
  position: relative;
  border: 0;
}

:host .sidebar-burger {
  height: 50px;
  width: 50px;
  fill: white;
  cursor: pointer;
}

:host-context(.open) .sidebarToggler {
  opacity: 0;
  pointer-events: none;
}

:host .user-info {
  display: flex;
  align-items: center;
  height: 10vh;
}

:host .user-photo-wrapper {
  height: 56px;
  width: 56px;
  margin: 0 2vw;
}

:host .user-photo{
  box-shadow: 0px 0px 7px 2px white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-right: 1vw;
}

:host .logout {
  color: white;
  text-decoration: none;
}

