<h2 mat-dialog-title align="center">What would you like to give?</h2>
<mat-dialog-content align="center">
  <mat-button-toggle-group value="FITLAB" (change)="onTypeChange($event)">
    <mat-button-toggle value="FITLAB">
      FitLab
    </mat-button-toggle>
    <mat-button-toggle value="LUNCHING">
      Lunching
    </mat-button-toggle>
  </mat-button-toggle-group>
  <form [formGroup]="heroForm" novalidate >
    <mat-form-field class="example-full-width" *ngIf="type === 'LUNCHING'">
      <span matPrefix>CW- &nbsp;</span>
      <input type="text" matInput placeholder="Your Lunching number" formControlName="lunchingNumber" required>
      <mat-error *ngIf="heroForm.status === 'INVALID'">
        Lunching number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Comments" matTextareaAutosize matAutosizeMinRows="1"
                  matAutosizeMaxRows="5" formControlName="comments"></textarea>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button color="primary" (click)="closeDialog()">Give</button>
</mat-dialog-actions>
